body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.header-banner {
  background-image: url(images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-main {
  text-align: center;
  padding: 150px 0;
}
.banner-main h1 {
  margin: 0;
  color: white;
  font-size: 50px;
}
.banner-main p {
  color: white;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
.btn {
  text-decoration: none;
  color: white;
  background: #9f293d;
  padding: 12px 22px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}
.donate-title {
  text-align: center;
}
.donate-title h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 20px;
}
.donate-title p {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
  color: #575757;
}
.amount-part {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.amount {
  width: 18%;
  margin: 0 1%;
  padding: 25px 0;
  text-align: center;
  background-color: #5757570d;
  border-radius: 10px;
}
.amount h3 {
  font-size: 22px;
  font-weight: 800;
}
.color-bg {
  border: 1px solid tomato;
  background-color: #9f293d3b;
}
form {
  text-align: center;
}
.text {
  border: none;
  border-bottom: 1px solid #00000063;
  padding: 5px 250px;
  margin-bottom: 20px;
  outline: none;
}
.donate-btn {
  text-align: center;
  margin-bottom: 80px;
}
.donate-plan-title {
  text-align: center;
}
.donate-plan-title h2 {
  font-size: 35px;
  font-weight: 700;
}
.donate-plan-title p {
  width: 50%;
  margin: 0 auto;
  color: #575757;
  margin-bottom: 25px;
}
.donate-plan-blog {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.blog {
  width: 31.3%;
  margin: 0 1%;
  padding: 20px;
}
.blog img {
  height: 90px;
}
.blog h4 {
  font-size: 18px;
}
.blog p {
  color: #575757;
}
.one {
  background-color: #9f293d21;
}
.two {
  background-color: #00ffff14;
}
.three {
  background-color: #3e838c1c;
}
.update-section {
  margin-bottom: 70px;
}
.update-title {
  text-align: center;
}
.update-title h2 {
  font-size: 35px;
  font-weight: 700;
}
.update-title p {
  width: 40%;
  margin: 0 auto;
  color: #575757;
  margin-bottom: 25px;
}
.form-section {
  width: 50%;
  margin: 0 auto;
  background: #ff63471f;
  padding: 80px 0;
  margin-bottom: 20px;
}
.email {
  padding: 8px;
  background: #80808030;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px 0 0 5px;
}
.submit-btn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 8px 20px;
  border: none;
  background: tomato;
  border-radius: 0px 5px 5px 0;
  position: relative;
  left: -4px;
  cursor: pointer;
}
footer {
  text-align: center;
  background-color: #0b0d17;
}
footer h4 {
  color: #9f293d;
  font-size: 22px;
  padding-top: 50px;
}
footer small {
  color: white;
  margin-bottom: 50px;
  display: inline-block;
}
